*{
 margin: 0;
 padding:0;   
}

/* Fonts for Freddie's Project */




/* Colors for this Project */
$text-color-1 : #1C2E1A;




/* Body Css Styling */

body {
    #landing-page {
        background-image: url(/assets/78199.jpg);
        color: $text-color-1;
        .logo-img {
            display:flex;
            justify-content: center;
            img {
                
            }
        }
       
        .hero-section {
            .hero-header {
                font-size: 4rem;
                font-weight: 600;
                text-align:center;
            }
            
        }

        .pizza-img {
            display: flex;
            justify-content: flex-end;
            margin: 1rem;
            img {
                width: 40%;
                

            }
            
        }

        .nav-buttons {
            display: flex;
            justify-content: center;
            
            ul {
                text-decoration: none;
            }
        }
        .burger-img {
            display: flex;
            justify-content: center;
            margin: 1rem;
            img {
                width:40%;
            }
        }


    }
 
}
