// Color Codes
$main-color: #073D20;
$main-color-2: #1C2E1A;
$main-color-3: #366030; // Used for button text as well as border stroke
$main-color-4:#012713;  // Gradient color 1 for website footer
$main-color-5:#073D20;  // Gradient color 2 for website footer
$secondary-color:#FFFFFF;
$secondary-color:#C81A19;

