*{
 margin: 0;
 padding:0;   
}

/* Fonts for Freddie's Project */
$font-1 : "pacifo";




/* Colors for this Project */
$text-color-1 : #1C2E1A;




/* Body Css Styling */

body {
    #landing-page {
        background-image: url(/assets/78199.jpg);
        color: $text-color-1;
        .logo-img {
            display:flex;
            justify-content: center;
            img {
                margin-top: 0.5rem;
                width: 40%;
                
            }
        }
       
        .hero-section {
            .hero-header {
                font-size: 4rem;
                font-weight: 600;
                text-align:center;
            }
            
        }

        .pizza-img {
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;
            img {
                width: 50%;
                

            }
            
        }

        .nav-buttons {
            display: flex;
            justify-content: center;
            
            ul {
            li {
                padding:0.12rem;
                text-decoration: none;
                list-style-type: none;
                border-style: 0.2rem;
                button {
                    background-color: transparent;
                    border-radius: 0.5rem;
                    border-color: $text-color-1;
                    padding: 0.5rem;
                    text-align: center;
                    font-size: 1.8rem;
                    font-weight: 400;
                    a{
                        text-decoration: none;
                        color: $text-color-1;
                    }
                }

            }    
            }
        }
        .burger-img {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            img {
                width:50%;
            }
        }


    }
 
}
